<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} - Relevance</title>
  <link href="/styles/reset.css"  rel="stylesheet" type="text/css">
  <link href="/styles/screen.css" rel="stylesheet" type="text/css" media="screen">
  <link href="/styles/print.css"  rel="stylesheet" type="text/css" media="print">

</head>
<body>
  <div class="wrapper">
    <div id="header-top-wrap">
      <div id="header-top">
        Brought to you by <a href="http://thinkrelevance.com"><span>Relevance: Agile Development, Consulting, and Training</span></a>
      </div>
    </div>
  
    <div id="header-wrap">
      <div id="header">
        <h1><a href="/">How We Work</a></h1>
      
        <div id="top-nav">
          <ul>
            <li><a class="highlight" href="/stakeholder_narrative.html">For Stakeholders</a></li>
            <li><a class="highlight" href="/developer_narrative.html">For Developers</a></li>
            <li><a class="highlight" href="/agilists.html">For Agilists</a></li>
          </ul>
        </div>
      </div>    
    </div>

    <div id="content-wrap">
      <div id="content">
        {{ content }}
      </div>

      <div class="push"></div>
    </div>
    
  </div>

  <div id="footer-wrap">
    <div id="footer">
      <div id="copyright">
        <p>View the document's <a xmlns:dc="http://purl.org/dc/elements/1.1/" href="https://github.com/relevance/how_we_work" rel="dc:source">history</a>.</p>
        <p>
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" />
          <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">How We Work</span> is licensed under an <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Attribution-Share Alike 3.0 License</a>.
        </p>
      </div>
      <div id="credits">
        <a class="logo" href="http://thinkrelevance.com"><span>Relevance: Agile Development, Consulting, and Training</span></a>
        <span>Read more on our <a href="http://blog.thinkrelevance.com">blog</a>. Follow us on <a href="http://twitter.com/thinkrelevance">twitter</a>.</span>
      </div>
    </div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9890029-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
